<div id="appLauncherContainer">
  <div class="page-header" style="padding-top:32px">
    <div class="container">
      <h2>Welcome to Rise Vision</h2>
    </div>
  </div>

  <div class="page-content">
    <div class="home-features" style="padding-top:0;">
      <div class="container" vertilize-container>

  <h3>Apps</h3>
  <div class="row">
    <div class="col-sm-4">
      <a href="http://rva.risevision.com/#PRESENTATIONS" class="feature" vertilize>
        <div class="content-box-body">
          <div class="image"><img src="images/editor-image.png"></div>
          <h3>Editor</h3>
          <p>Create and manage HTML content for your digital signage displays.</p>
        </div>
      </a>
    </div><!--col-->

    <div class="col-sm-4">
      <a href="http://store.risevision.com" class="feature" vertilize>
        <div class="content-box-body">
          <div class="image"><img src="images/store-image.png"></div>
          <h3>Store</h3>
          <p>A digital signage store full of content, services, applications and hardware for Rise Vision.</p>
        </div>
      </a>
    </div><!--col-->

    <div class="col-sm-4">
      <a href="http://storage.risevision.com" class="feature" vertilize>
        <div class="content-box-body">
          <div class="image"><img src="images/storage-image.png"></div>
          <h3>Storage</h3>
          <p>Manage and deliver media to your digital signage displays.</p>
        </div>
      </a>
    </div><!--col-->  
    
  </div><!--row-->

  <div class="row">

    <div class="col-sm-4">
      <a href="http://rva.risevision.com/#DISPLAYS" class="feature" vertilize>
        <div class="content-box-body">
          <div class="image"><img src="images/displays-image.png"></div>
          <h3>Displays</h3>
          <p>Manage and monitor your digital signage displays.</p>
        </div>
      </a>
      <a class="experimental" href="https://displays.risevision.com">Check out the beta version!</a>
    </div><!--col-->

    <div class="col-sm-4">
      <a href="http://rva.risevision.com/#SCHEDULES" class="feature" vertilize>
        <div class="content-box-body">
          <div class="image"><img src="images/schedule-image.png"></div>
          <h3>Schedules</h3>
          <p>Schedule delivery of HTML content to your digital signage displays.</p>
        </div>
      </a>
      <a class="experimental" href="https://schedules.risevision.com">Check out the beta version!</a>
    </div>


  </div><!--row-->



      </div>
    </div><!--home-features-->
  </div><!--page-content-->
</div>




