<style type="text/css">
  .experimental-apps {
  }
  .experimental-apps a {
    display: block;
    padding: 10px;
    background: #FFF;
    border:1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 -1px 0 #d5d1cb,0 1px 4px rgba(113,108,102,.1),transparent 0 0 0;
    box-shadow: inset 0 -1px 0 #d5d1cb,0 1px 4px rgba(113,108,102,.1),transparent 0 0 0;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 8px;
  }
  .experimental-apps a img {
    width: 32px;
  }
  .experimental-apps-block {
    background: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    padding: 56px 0;
  }
  .experimental-apps-block h2 {
    font-size: 38px;
  }
</style>
<div id="appLauncherContainer">
  <div class="experimental-apps-block">
    <div class="container">
      <div class="add-top">
        <div class="">
          <div class="row">            
            <div class="col-sm-12">
              <h2>Introducing a New Experience</h2>
              <p class="text-muted add-left add-right">We've simplified the interface to let you focus on what matters: your content. Our new experimental layout fits your screen, making it easier to manage on mobile, small laptop or a large monitor.</p>
              
              <div class="experimental-apps add-top add-bottom">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="https://editor.risevision.com/">
                      <div class="image"><img src="images/editor-image.png"></div>
                      <span>Editor <small class="text-green">BETA</small></span>
                    </a>
                  </div><!--col-->
                  <div class="col-sm-4">
                    <a href="https://schedules.risevision.com/">
                      <div class="image"><img src="images/schedule-image.png"></div>
                      <span>Schedules <small class="text-green">BETA</small></span>
                    </a>
                  </div>
                  <div class="col-sm-4">
                    <a href="https://displays.risevision.com/">
                      <div class="image"><img src="images/displays-image.png"></div>
                      <span>Displays <small class="text-green">BETA</small></span>
                    </a>
                  </div>
                </div><!--row-->
              </div><!--experimental-apps-->

              <p class="text-muted">We can't wait to hear what you think. Enjoy!</p>
              <img src="https://s3.amazonaws.com/Rise-Images/Experimental/signature.png" style="width:180px">
            </div>
          </div>
        </div>
      </div>
    </div><!--container-->
  </div>

  <div class="page-content">
    <div class="home-features">
      <div class="container" vertilize-container>
        <div class="row">

          <div class="col-sm-4">
            <a href="http://rva.risevision.com/#PRESENTATIONS" class="feature" vertilize>
              <div class="content-box-body">
                <div class="image"><img src="images/editor-image.png"></div>
                <h3>Editor</h3>
                <p>Create and manage HTML content for your digital signage displays.</p>
              </div>
            </a>
          </div><!--col-->

          <div class="col-sm-4">
            <a href="http://store.risevision.com" class="feature" vertilize>
              <div class="content-box-body">
                <div class="image"><img src="images/store-image.png"></div>
                <h3>Store</h3>
                <p>A digital signage store full of content, services, applications and hardware for Rise Vision.</p>
              </div>
            </a>
          </div><!--col-->

          <div class="col-sm-4">
            <a href="http://storage.risevision.com" class="feature" vertilize>
              <div class="content-box-body">
                <div class="image"><img src="images/storage-image.png"></div>
                <h3>Storage</h3>
                <p>Manage and deliver media to your digital signage displays.</p>
              </div>
            </a>
          </div><!--col-->  
          
        </div><!--row-->

        <div class="row">

          <div class="col-sm-4">
            <a href="http://rva.risevision.com/#DISPLAYS" class="feature" vertilize>
              <div class="content-box-body">
                <div class="image"><img src="images/displays-image.png"></div>
                <h3>Displays</h3>
                <p>Manage and monitor your digital signage displays.</p>
              </div>
            </a>
          </div><!--col-->

          <div class="col-sm-4">
            <a href="http://rva.risevision.com/#SCHEDULES" class="feature" vertilize>
              <div class="content-box-body">
                <div class="image"><img src="images/schedule-image.png"></div>
                <h3>Schedules</h3>
                <p>Schedule delivery of HTML content to your digital signage displays.</p>
              </div>
            </a>
          </div>

          <div class="col-sm-4">
            <a href="https://community.risevision.com" class="feature" vertilize>
              <div class="content-box-body">
                <div class="image"><img src="images/community-image.png"></div>
                <h3>Community</h3>
                <p>Ask questions, share ideas and connect with other people who are passionate about digital signage.</p>
              </div>
            </a>
          </div>

        </div><!--row-->
      </div>
    </div><!--home-features-->
  </div><!--page-content-->
</div>




