<div class="modal-header">
	<h3 class="modal-title">Select Presentation</h3>
</div>
<div class="modal-body">
	<div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input id="presentationSearchInput" type="text" class="form-control" placeholder="Search Presentations"> <span class="input-group-addon" ng-click="reset()"><i class="fa fa-times"></i></span></div>

	<div class="content-box add-top">
		<div class="scrollable-list">
			<table class="table-2 table-selector">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Alerts Presentation</td>
						<td>Published</td>
					</tr>
					<tr>
						<td>Presentation Name</td>
						<td>Published</td>
					</tr>
					<tr>
						<td>Presentation Name</td>
						<td>Published</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>