<div class="container">
	<div class="app-header">
	  <div class="title-block">
	    <!-- App Title -->
	    <h1 id="title">Storage</h1>
	  </div>

	  <div class="global-actions">
	  	<button class="btn btn-lg btn-default">
	  		Add Folder
	  		<i class="fa fa-folder fa-lg icon-right"></i>
	  		<i class="fa fa-plus fa-mini"></i>
	  	</button>
	    <button class="btn btn-lg btn-primary">
	      Upload
	      <i class="fa fa-cloud-upload fa-lg icon-right"></i> 
	    </button>
	  </div>
	</div><!--app-header-->

	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-search"></i></span>
		<input id="" type="text" class="form-control" placeholder="Search for files or folders">
		<span class="input-group-addon">
			<i class="fa fa-times"></i>
		</span>
	</div><!--input-group-->

	<div class="icon-nav half-top text-right">
		<span class="add-right">1 Selected</span>
		<button class="btn btn-lg btn-link disabled"><i class="fa fa-lg fa-cloud-download"></i></button>
		<button class="btn btn-lg btn-link disabled"><i class="fa fa-lg fa-link"></i></button>
		<button class="btn btn-lg btn-link disabled"><i class="fa fa-lg fa-trash-o"></i></button>
	</div>

	<div class="content-box half-top">
		<div class="scrollable-list">
			<table class="table-2 table-hover table-selector multiple-selector">
				<thead>
					<tr>
						<th>Name <i class="fa fa-long-arrow-down"></i></th>
						<th>Type</th>
						<th>Size</th>
						<th class="text-right">Modified</th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr>
					<tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr>
					<tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr><tr class="clickable-row">
						<td><span class="file">sample.jpg</span></td>
						<td>JPG</td>
						<td>1 KB</td>
						<td class="text-right">19-Nov-2015</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div><!--container-->