<div id="appLauncherContainer">
  <div class="container">
    <div class="app-launcher-header">
      <h1>Welcome to Rise Vision</h1> 
    </div>

    <h2 class="half-bottom">My Presentations</h2>
    <p ng-hide="existingUser" class="lead text-muted">You haven’t added any presentations yet.</p>

    <p ng-show="existingUser" class="lead text-muted half-bottom">Last Modified <a class="add-left" href="#">View All</a></p>

    <div class="content-box latest-item" ng-show="existingUser">
      <a href="#">
        <div class="content-box-body">
          <p class="text-muted pull-right">5-Jan-2016 4:14 PM</p>
          <h3 class="remove-top remove-bottom">Simple Presentation</h3>
        </div>
      </a>
    </div>
    
  </div>

  <div class="app-launcher-block">

    <div class="container">
      <div ng-show="existingUser">
        <button class="btn btn-primary btn-lg">Add Presentation <i class="fa fa-plus icon-right"></i></button>
      </div>
    </div>


    <div ng-hide="existingUser" class="templates animated fadeIn">
      <div class="container">
      
      <p class="lead text-white">Add a New Presentation</p>
      <ul class="template-grid">
        <li class="blank-template">
          <a href="#">

            <p><span><i class="fa fa-plus fa-2x"></i></span> Blank</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_hotel1b_landscape.jpg" class="img-responsive">
            <div class="template-info">
              <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
              <h3>Simple YouTube Template</h3>
              <p>Free</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3.amazonaws.com/Rise-Images/Experimental/template2.jpg" class="img-responsive">
            <div class="template-info">
              <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
              <h3>Menu Portrait</h3>
              <p>Free</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_bank2_landscape.jpg" class="img-responsive">
            <div class="template-info">
              <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
              <h3>Simple Facebook</h3>
              <p>Free</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_hospital2_landscape.jpg" class="img-responsive">
            <div class="template-info">
              <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
              <h3>Simple YouTube Template</h3>
              <p>Free</p>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_bank1_landscape.jpg" class="img-responsive">
            <div class="template-info">
              <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
              <h3>Menu Portrait</h3>
              <p>Free</p>
            </div>
          </a>
        </li>

        <li ng-show="moreTemplates">
          <a href="#">
            <img src="https://s3.amazonaws.com/Rise-Images/Experimental/template1.jpg" class="img-responsive">
            <div class="template-info">
              <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
              <h3>Simple Facebook</h3>
              <p>Free</p>
            </div>
          </a>
        </li>
        <li ng-show="moreTemplates">
          <a href="#">
            <img src="https://s3.amazonaws.com/Rise-Images/Experimental/template2.jpg" class="img-responsive">
            <div class="template-info">
              <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
              <h3>Simple Events</h3>
              <p>Free</p>
            </div>
          </a>
        </li>
        <li ng-show="moreTemplates" class="suggest-template">
          <a href="#">
            <h3>Can’t find what you’re looking for?</h3>
            <p>Suggest a template!</p>
          </a>
        </li>
      </ul>

        <div class="text-center add-bottom">
          <button class="btn btn-lg btn-default" ng-click="moreTemplates = !moreTemplates">Show <span ng-hide="moreTemplates">More</span><span ng-show="moreTemplates">Less</span></button>
        </div>

      </div><!--container-->
    </div><!--templates-->

  </div><!--block-->  

  <div class="container">
  <hr ng-show="existingUser">
    <div class="app-launcher-block">
      <h2 class="half-bottom">My Displays</h2>
      <p class="lead text-muted">You haven’t added any displays yet.</p>
      <button class="btn btn-primary btn-lg">Add Display <i class="fa fa-plus icon-right"></i></button>
    </div><!--app-launcher-block-->
    <hr>
    <div class="app-launcher-block">
      <h2 class="half-bottom">My Schedules</h2>
      <p class="lead text-muted">You haven’t added any schedules yet.</p>
      <button class="btn btn-primary btn-lg">Add Schedule <i class="fa fa-plus icon-right"></i></button>
    </div><!--app-launcher-block-->

    

  </div><!--container-->

  




<button class="btn btn-default" ng-click="existingUser = !existingUser">Existing User</button>

</div><!--appLauncherContainer-->
