<div id="appLauncherContainer">

  <div class="app-launcher-header">
    <div class="container">
      <h1>Welcome to Rise Vision</h1>
    </div> 
  </div>

  <div class="container" ng-init="listLimit=5">

    <div class="app-launcher-block" ng-controller="PresentationListController">
      <div class="app-launcher-block-header">
        <h2 class="add-bottom">My Presentations</h2>
        <a ui-sref="apps.editor.list" ng-show="factory.items.list.length > 0">View All</a>
      </div><!--app-launcher-block-header-->

      <style type="text/css">
      .loading-box {
        min-height: 100px;
      }
      </style>

    
      <p class="text-muted" ng-show="factory.items.list.length === 0 && !factory.loadingItems" translate>editor-app.list.empty</p>

      <p class="text-muted lead half-bottom" ng-show="factory.items.list.length > 0">Recently Modified</p>
      <div class="content-box" ng-class="{'scrollable-list':factory.loadingItems}" 
          ng-show="factory.loadingItems || factory.items.list.length > 0" 
          rv-spinner rv-spinner-key="presentation-list-loader" rv-spinner-start-active="1">
        <table class="table-2 table-hover">
          <tr class="clickable-row" ng-repeat="presentation in factory.items.list">
            <td><a ui-sref="apps.editor.workspace.artboard({presentationId: presentation.id})"><strong>{{presentation.name}}</strong></a></td>
          </tr>
        </table>
      </div>  
  
      <div class="add-top">
        <button ng-click="launcherTracker('Add Presentation'); editorFactory.addFromTemplate()" class="btn btn-primary btn-lg">
          {{'editor-app.list.actions.add' |translate}} <i class="fa fa-plus icon-right"></i>
        </button>
      </div>
    </div><!--app-launcher-block-->  

    <hr>

    <div class="app-launcher-block" ng-controller="displaysList">

      <div class="app-launcher-block-header">
        <h2 class="add-bottom">My Displays</h2>
        <a ui-sref="apps.displays.list" ng-show="displays.list.length > 0">View All</a>
      </div><!--app-launcher-block-header-->

      <p class="text-muted" ng-show="displays.list.length === 0 && !loadingDisplays" translate>displays-app.list.empty</p>

      <p class="text-muted lead half-bottom" ng-show="displays.list.length > 0">Recently Modified</p>
      <div class="content-box" ng-class="{'scrollable-list':loadingDisplays}" 
          ng-show="loadingDisplays || displays.list.length > 0" 
          rv-spinner rv-spinner-key="displays-list-loader" rv-spinner-start-active="1">
        <table class="table-2 table-hover">
          <tr class="clickable-row" ng-repeat="display in displays.list">
            <td><a ui-sref="apps.displays.change({displayId: display.id})"><strong>{{display.name}}</strong></a></td>
          </tr>
        </table>
      </div>

      <div class="add-top">
        <a id="displayAddButton" ui-sref="apps.displays.add" class="btn btn-lg btn-primary" ng-click="launcherTracker('Add Display')" require-role="da">
          {{ 'displays-app.actions.new' | translate }}
          <i class="fa fa-plus icon-right"></i> 
        </a>
      </div>      

    </div><!--app-launcher-block-->  

    <hr>

    <div class="app-launcher-block" ng-controller="schedulesList">

      <div class="app-launcher-block-header">
        <h2 class="add-bottom">My Schedules</h2>
        <a ui-sref="apps.schedules.list" ng-show="schedules.list.length > 0">View All</a>
      </div><!--app-launcher-block-header-->

      <p class="text-muted" ng-show="schedules.list.length === 0 && !loadingSchedules" translate>schedules-app.list.empty</p>

      <p class="text-muted lead half-bottom" ng-show="schedules.list.length > 0">Recently Modified</p>
      <div class="content-box" ng-class="{'scrollable-list':loadingSchedules}" 
          ng-show="loadingSchedules || schedules.list.length > 0"
          rv-spinner rv-spinner-key="schedules-list-loader" rv-spinner-start-active="1">
        <table class="table-2 table-hover">
          <tr class="clickable-row" ng-repeat="schedule in schedules.list">
            <td><a ui-sref="apps.schedules.details({scheduleId: schedule.id})"><strong>{{schedule.name}}</strong></a></td>
          </tr>
        </table>
      </div>

      <div class="add-top">
        <a id="scheduleAddButton" ui-sref="apps.schedules.add" class="btn btn-lg btn-primary" ng-click="launcherTracker('Add Schedule')" require-role="cp">
        {{ 'schedules-app.actions.new' | translate }}
        <i class="fa fa-plus icon-right"></i> 
        </a>
      </div>
    </div><!--app-launcher-block-->  
    <hr>
  </div><!--container-->

  

  <div class="app-launcher-footer"> 
    <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="content-box text-center classic-rva">
          <a ui-sref="apps.editor.list">
          <div class="content-box-body">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/landing-page/editor-image.png">
            <h3>Editor</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center classic-rva">
          <a ui-sref="apps.displays.list">
          <div class="content-box-body">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/landing-page/displays-image.png">
            <h3>Displays</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center classic-rva">
          <a ui-sref="apps.schedules.list">
          <div class="content-box-body">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/landing-page/schedule-image.png">
            <h3>Schedules</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center">
          <a href="https://store.risevision.com/" target="_blank" link-cid>
          <div class="content-box-body">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/landing-page/store-image.png">
            <h3>Store</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center">
          <a href="https://storage.risevision.com/" target="_blank" link-cid>
          <div class="content-box-body">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/landing-page/storage-image.png">
            <h3>Storage</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      
      <div class="col-sm-2">
        <div class="content-box text-center">
          <a href="https://community.risevision.com/rise_vision_inc" target="_blank">
          <div class="content-box-body">
            <img class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/landing-page/community-image.png">
            <h3>Community</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
    </div><!--row-->
    </div><!--container-->
  </div><!--app-launcher-footer-->
  <br/>

</div><!--appLauncherContainer-->