<div id="appLauncherContainer">

  <div class="app-launcher-header">
    <div class="container">
      <h1>Welcome to Rise Vision</h1>
    </div> 
  </div>

  <div class="container">
    <div class="app-launcher-block" ng-controller="modalCtrl">
      <div class="app-launcher-block-header">
        <h2 class="add-bottom">My Presentations</h2>
      </div><!--app-launcher-block-header-->
      <p class="text-muted">You haven’t added any Presentations yet.</p>
      <button class="btn btn-primary btn-lg" ng-click="open()">Add Presentation <i class="fa fa-plus icon-right"></i></button>
    </div><!--app-launcher-block-->  
    <hr>
    <div class="app-launcher-block">
      <div class="app-launcher-block-header">
        <h2 class="add-bottom">My Displays</h2>
        <a href="#">View All</a>
      </div><!--app-launcher-block-header-->
      


      <p class="text-muted lead half-bottom">Recently Modified</p>
      <div class="content-box">
        <table class="table-2 table-hover">
          <tr class="clickable-row">
            <td><a href="#"><strong>Lobby Display</strong></a></td>
          </tr>
          <tr class="clickable-row">
            <td><a href="#"><strong>Library Display</strong></a></td>
          </tr>
        </table>
      </div>

      <div class="add-top">
        <button class="btn btn-primary btn-lg" ng-click="open()">Add Display <i class="fa fa-plus icon-right"></i></button>
      </div>
      
    </div><!--app-launcher-block-->  
    <hr>
    <div class="app-launcher-block">
      <div class="app-launcher-block-header">
        <h2 class="add-bottom">My Schedules</h2>
      </div><!--app-launcher-block-header-->
      <p class="text-muted">You haven’t added any Schedules yet.</p>
      <button class="btn btn-primary btn-lg" ng-click="open()">Add Schedule <i class="fa fa-plus icon-right"></i></button>
    </div><!--app-launcher-block-->  
  </div><!--container-->

  <div class="app-launcher-footer"> 
    <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="content-box text-center classic-rva">
          <a href="#">
          <div class="content-box-body">
            <img class="img-responsive" src="images/editor-image.png">
            <h3>Editor</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center classic-rva">
          <a href="#">
          <div class="content-box-body">
            <img class="img-responsive" src="images/displays-image.png">
            <h3>Displays</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center classic-rva">
          <a href="#">
          <div class="content-box-body">
            <img class="img-responsive" src="images/schedule-image.png">
            <h3>Schedules</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center">
          <a href="#">
          <div class="content-box-body">
            <img class="img-responsive" src="images/store-image.png">
            <h3>Store</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      <div class="col-sm-2">
        <div class="content-box text-center">
          <a href="#">
          <div class="content-box-body">
            <img class="img-responsive" src="images/storage-image.png">
            <h3>Storage</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
      
      <div class="col-sm-2">
        <div class="content-box text-center">
          <a href="#">
          <div class="content-box-body">
            <img class="img-responsive" src="images/community-image.png">
            <h3>Community</h3>
          </div><!--content-box-body-->
          </a>
        </div><!--content-box-->
      </div><!--col-->
    </div><!--row-->
    </div><!--container-->
  </div><!--app-launcher-footer-->


<button class="btn btn-default hidden" ng-click="existingUser = !existingUser">Existing User</button>

</div><!--appLauncherContainer-->
