<style type="text/css">
	body {
		background: #f7f7f7;
	}
	.navbar {
		display: none;
	}
</style>

<div class="app-launcher-login">
	<div class="container">

		<div class="content-box">
			<div class="row">
				<div class="col-sm-4">
					<div class="rise-logo"><img src="https://www.risevision.com/images/logo.svg"></div>
				</div>
				<div class="col-sm-8">

					<h1 class="add-top">Signup</h1>
					<p class="lead text-muted">Create a Free Account</p>
					<button class="btn btn-primary btn-hg">Sign Up Up with Google <i class="fa fa-google icon-right"></i></button>
					<p><a href="#">I don't have a google account.</a></p>

					<br>

					<p class="text-muted">Have an account? <a href="#">Sign In</a></p>

				</div><!--col-->
			</div><!--row-->
			
			
		</div>	
	</div><!--container-->
</div><!--app-launcher-login-->


