<div class="modal-header">
	<h3 class="modal-title">Shared Templates</h3>
</div>
<div class="modal-body">
	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-search"></i></span> <input type="text" class="form-control" placeholder="Search Presentations"> <span class="input-group-addon" ng-click="reset()"><i class="fa fa-times"></i></span></div>

	<div class="content-box half-top">
		<div class="scrollable-list">
			<table class="table-2 table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="clickable" ui-sref="editor.workspace.artboard">
						<td><strong>ABC Presentation</strong></td>
						<td class="text-right"><a href="#">Preview</a></td>
					</tr>
					<tr class="clickable" ui-sref="editor.workspace.artboard">
						<td><strong>Sample Presentation</strong></td>
						<td class="text-right"><a href="#">Preview</a></td>
					</tr>
					<tr class="clickable" ui-sref="editor.workspace.artboard">
						<td><strong>My Presentation</strong></td>
						<td class="text-right"><a href="#">Preview</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>