<div class="modal-body padding-large">
	<button type="button" class="close" ng-click="dismiss()">
    <i class="fa fa-times"></i>
  </button>
	<div class="templates animated fadeIn">


		<h3 class="remove-top add-bottom">Add a New Presentation</h3>

		

		<div class="input-group half-bottom"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input type="text" class="form-control" placeholder="Search for Templates"> <span class="input-group-addon"><i class="fa fa-times"></i></span></div>

		<div class="template-filters half-bottom">
			<ul class="list-unstyled">
				<li class="active"><span>All</span></li>
				<li><span>Sports</span></li>
				<li><span>Events</span></li>
				<li><span>Religious</span></li>
				<li><span>Education</span></li>
				<li><span>Retail</span></li>
				<li><span>Hospital</span></li>
				<li><span>Restaurants</span></li>
				<li class="more-templates"><span>More</span></li>
			</ul>
		</div><!--template-filters-->



	 
	  <ul class="template-grid">
	    <li class="blank-template">
	      <a href="#">

	        <p><span><i class="fa fa-plus fa-2x"></i></span> Blank</p>
	      </a>
	    </li>
	    
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_hotel1b_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple YouTube Template</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_hotel1b_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple YouTube Template</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Rise-Images/Experimental/template2.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Menu Portrait</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_bank2_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple Facebook</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>

	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_hotel1b_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple YouTube Template</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Rise-Images/Experimental/template2.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Menu Portrait</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_bank2_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple Facebook</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_hospital2_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple YouTube Template</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_bank1_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Menu Portrait</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>

	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_bank2_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple Facebook</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_hospital2_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple YouTube Template</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Store-Products/Rise-Vision/presentation_template_rva_bank1_landscape.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Menu Portrait</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>

	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Rise-Images/Experimental/template1.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple Facebook</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="#">
	        <img src="https://s3.amazonaws.com/Rise-Images/Experimental/template2.jpg" class="img-responsive">
	        <div class="template-info">
	          <button class="btn btn-default btn-sm pull-right"><i class="fa fa-info"></i></button>
	          <h3>Simple Events</h3>
	          <p>Free</p>
	        </div>
	      </a>
	    </li>
	    <li class="suggest-template">
	      <a href="#">
	        <h3>Can’t find what you’re looking for?</h3>
	        <p>Suggest a template!</p>
	      </a>
	    </li>
	  </ul>

	</div><!--templates-->

</div>