<div>
  <artboard-placeholder ng-repeat="placeholder in presentation.placeholders" placeholder="placeholder" placeholder-drag placeholder-resize
	  ng-mouseDown="placeholderFactory.setPlaceholder(placeholder)" stop-event="mousedown">
	  <span class="ph-name">{{placeholder.id}}</span>
  </artboard-placeholder>
  <div class="ph-block edit-mode" style="width:800px; height:600px; top:100px; left:100px;">
  	<span class="ph-video-item"></span>
  	<span class="ph-name">videoWidget</span>
  </div>
</div>