<div>
  <artboard-placeholder ng-repeat="placeholder in presentation.placeholders" placeholder="placeholder" placeholder-drag placeholder-resize
	  ng-mouseDown="placeholderFactory.setPlaceholder(placeholder)" stop-event="mousedown">
	  <span class="ph-name">{{placeholder.id}}</span>
  </artboard-placeholder>
</div>

<div class="ph-block" style="width:400px; height:300px; top:100px; left:100px;">
  	<span class="ph-item-icon ph-video-item"></span>
  	<span class="ph-name">videoWidget</span>
  </div>

  <div class="ph-block" style="width:400px; height:300px; top:100px; left:550px;">
  	<span class="ph-item-icon"></span>
  	<span class="ph-name">genericWidget</span>
  </div>