<div class="container">
  <div class="add-bottom blank-state">
      <div class="product-graphic">
          <img id="editor-image" itemprop="image" class="img-responsive" src="https://s3.amazonaws.com/Rise-Images/landing-page/editor-image.png">
      </div>
      <div class="content-box-body" >
          <div class="product-intro">
              <h1 id="app-title" translate>editor-app.title</h1>
              <p class="lead"><strong id="manage-editor-text" translate>editor-app.landing.manageEditorText</strong></p>
              <p class="text-muted"><a id="sign-up-link"  href="#" ng-controller="SignUpButtonCtrl" ng-click="openSignUpModal()">{{'common.signUp' | translate}}</a> <span id="sign-up-text">{{'common.signUpText' | translate}}</span> <a id="sign-in-link" href="#" ng-controller="SignUpModalCtrl" ng-click="login('registrationComplete')">{{'common.signIn' | translate}}</a> <span id="sign-in-text">{{'common.signInText' | translate}}</p>
          </div>
      </div>
  </div>
</div>