<div dropdown>
  <button id="addPlaylistItemButton" dropdown-toggle ng-click="presentationTracker('Add Playlist Item')" class="dropdown-toggle btn btn-primary btn-block" >{{'editor-app.playlistItem.add' | translate}}  <i class="fa fa-plus icon-right"></i></button>
  <div class="dropdown-menu playlist-menu" role="menu">
    <ul>
    <li>
      <a class="clickable" id="addContentButton" ng-click="playlistItemFactory.addContent()">
      <span translate>editor-app.playlistItem.content</span>
      </a>
    </li>
    <li>
      <a class="clickable" id="addWidgetByUrlButton" ng-click="playlistItemFactory.addWidgetByUrl()">
        <span translate>editor-app.playlistItem.widgetByUrl</span>
      </a>
    </li>
    </ul>
  </div>
</div>
<div class="content-box half-top">
  <div class="scrollable-list">
    <table class="table-2 table-hover table-playlist-items">
      <tbody>
      <tr class="clickable-row" ng-repeat="item in factory.getItems() track by $index">
        <td>
          <div class="pull-right">

            <span class="btn-group">
              <button class="btn btn-xs btn-default" id="moveUpButton" ng-click="factory.movePlaylistItemUp(item)" ng-disabled="!factory.canPlaylistItemMoveUp(item)"><i class="fa fa-arrow-up"></i></button>
              <button class="btn btn-xs btn-default" id="moveDownButton" ng-click="factory.movePlaylistItemDown(item)" ng-disabled="!factory.canPlaylistItemMoveDown(item)"><i class="fa fa-arrow-down"></i></button>
            </span>

            <button class="btn btn-xs btn-default" ng-show="item.type === 'widget' && (item.objectReference || item.settingsUrl)" ng-click="widgetModalFactory.showWidgetModal(item)"><i class="fa fa-cog"></i></button>
            <button class="btn btn-xs btn-default" id="removeButton" ng-click="remove(item)"><i class="fa fa-trash-o"></i></button>
          </div>

          <div ng-click="playlistItemFactory.edit(item)">
            <p class="remove-bottom playlist-item-name">{{item.name}}</p>
            <p class="text-small text-muted remove-bottom {{item.subscriptionStatus|subscriptionStatusClass}}">{{item.statusMessage}}</p>
          </div>

        </td>
      </tr>

      </tbody>
    </table>
    <div class="content-box-body" ng-hide="factory.getItems().length">
      <p class="text-center text-muted" translate>editor-app.playlistItem.no-playlistItem</p>
    </div>
  </div>
  
</div>
