<div id="presentationPropertiesModal">
  <div class="modal-header">
    <button id="dismissButton" type="button" class="close" ng-click="dismiss()">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>editor-app.properties.title</h3>
  </div>
  <div class="modal-body" stop-event="touchend">
    <form role="form" name="presentationPropertiesDetails" ng-enter="apply()" novalidate>
    <div class="form-group" ng-class="{'has-error': !presentationPropertiesDetails.name.$pristine && presentationPropertiesDetails.name.$invalid}" show-errors>
      <label id="nameLabel" class="control-label">{{'editor-app.properties.labels.name' | translate}} *</label>
      <input id="nameInput" name="name" type="text" class="form-control" placeholder="Name" ng-model="presentationProperties.name" required focus-me="!presentationProperties.id">
      <p class="text-danger" ng-show="!presentationPropertiesDetails.name.$pristine && presentationPropertiesDetails.name.$error.required" translate>
        editor-app.playlistItem.required
      </p>
      <p id="presentationId" class="remove-top text-muted half-top" ng-show="presentationProperties.id"><small>{{'editor-app.properties.labels.id' | translate}}: {{presentationProperties.id}}</small></p>
    </div><!--form-control-->

    <button id="copyPresentationButton" class="btn btn-default" ng-show="presentationProperties.id" ng-click="copy()">{{'editor-app.properties.labels.copy' | translate}} <i class="fa fa-copy icon-right"></i></button>

    <hr>
    <div class="form-group">
      <label id="resolutionLabel" translate>editor-app.properties.labels.resolution</label>
      <resolution-selector></resolution-selector>
    </div><!--form-group-->

<div class="form-group">
    <label id="backgroundLabel" translate>editor-app.properties.labels.background</label>
    <!-- Color -->
    <div class="{{colorParentContainerClass || 'row'}}">
        <div class="{{colorContainerClass || 'col-xs-12'}}" style="position:relative;">
            <div class="input-group" colorpicker="rgba" colorpicker-parent="true" ng-model="background.color">
                <input class="form-control" type="text" ng-model="background.color">
                <span class="input-group-addon color-wheel"></span>
            </div>
        </div>
    </div>
    <!-- Image Choice -->
    <div class="checkbox">
        <label>
            <input name="choice" type="checkbox" ng-model="background.useImage"> {{"background.choice" | translate}}
        </label>
    </div>
    <div id="backgroundImageControls" ng-if="background.useImage">
        <!-- Image Placeholder -->
        <div class="form-group">
            <div ng-if="!imageLoaded" class="image-placeholder">
                <i class="fa fa-image"></i>
            </div>
            <!-- Image -->
            <div ng-show="imageLoaded" class="row">
                <div class="col-xs-4">
                    <img ng-src="{{imageUrl}}" background-image class="img-rounded img-responsive">
                </div>
            </div>
        </div>
        <!-- File Selector -->
        <file-selector id="backgroundFileSelector" name="backgroundFileSelector" company-id="{{companyId}}" title="{{'background.image.selector.title' | translate}}" file-label="{{'background.image.selector.file' | translate}}" file-type="image" selector="background.image.selector" ng-model="backgroundfileselector" selector-valid valid hide-subscription></file-selector>
        <!-- Scale to fit -->
        <script>
        $(document).on("change", ".imageProperties", function() {
            alert("I am an alert box!");
        });
        </script>

        <div class="checkbox">
            <label>
                <input name="scale" type="checkbox" ng-model="background.image.scale" class="imageProperties"> {{"background.image.scale" | translate}}
            </label>
        </div>
        <!-- Position -->
        <div class="row">
            <div class="col-md-6">
                <label> Image Position </label>
                <select name="position" class="form-control">
                    <option value="top-left" selected="selected" >{{'position.top.left' | translate}}</option>
                    <option value="top-center">{{'position.top.center' | translate}}</option>
                    <option value="top-right">{{'position.top.right' | translate}}</option>
                    <option value="middle-left">{{'position.middle.left' | translate}}</option>
                    <option value="middle-center">{{'position.middle.center' | translate}}</option>
                    <option value="middle-right">{{'position.middle.right' | translate}}</option>
                    <option value="bottom-left">{{'position.bottom.left' | translate}}</option>
                    <option value="bottom-center">{{'position.bottom.center' | translate}}</option>
                    <option value="bottom-right">{{'position.bottom.right' | translate}}</option>
                </select>
            </div>
          <!-- Repeat -->
            <div class="col-md-6">
                <label> Image Repeat </label>
                <select name="repeat" class="form-control">
                    <option selected="selected">None</option>
                    <option>Horizontal</option>
                    <option>Vertical</option>
                    <option>Both</option>
                </select>
            </div>
        </div>
        
    </div>
</div>


    <div class="form-group">
      <label id="playUntilDonePlaceholderLabel" class="control-label" translate>editor-app.properties.labels.playUntilDone</label>
      <select id="playUntilDonePlaceholderSelect" class="form-control" ng-model="presentationProperties.donePlaceholder" ng-options="placeholder.id as placeholder.id for placeholder in placeholders"></select>
    </div><!--form-group-->

    <div class="form-group">
      <label id="hideMousePointerCheckboxLabel" class="control-label">
        <input id="hideMousePointerCheckbox" type="checkbox" ng-model="presentationProperties.hidePointer"> {{'editor-app.properties.labels.hideMouse' | translate}}
      </label>
    </div>

  </form>

  <!-- Indicates delete or destructive action -->
  <button id="deleteButton" ng-show="presentationProperties.id" require-role="cp" type="button" class="btn btn-danger btn-fixed-width" ng-click="confirmDelete()">
    {{'common.delete' | translate}} Presentation<i class="fa fa-white fa-trash-o icon-right"></i>
  </button>

  </div><!--modal-body-->
  <div class="modal-footer">

    <button id="applyButton" class="btn btn-primary" ng-click="apply()" ng-disabled="presentationPropertiesDetails.$invalid">{{'common.apply' | translate}} <i class="fa fa-check icon-right"></i></button>
    <button id="presentationPropertiesCancelButton" class="btn btn-default" ng-click="dismiss()">{{'common.cancel' | translate}} <i class="fa fa-times icon-right"></i></button>
  </div>
</div>
