<div id="addStoreProductModal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
    <h3 class="modal-title" translate>editor-app.storeProduct.title</h3>
  </div>
  <div class="modal-body" stop-event="touchend">

    <search-filter filter-config="filterConfig" search="search" do-search="factory.doSearch"></search-filter>
    <div class="content-box half-top">
      <div class="scrollable-list" 
        scrolling-list="factory.load()"
        rv-spinner rv-spinner-key="product-list-loader"
        rv-spinner-start-active="1"
        >

        <div id="productListTable" class="grid-list row no-gutter" vertilize-container>
          <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="product in factory.items.list">
            <div class="content-box">
              <div vertilize>
                <div class="grid-list-image">
                  <img ng-src="{{product.imageUrl}}">
                </div>
                <h4 id="productName">{{product.name}}</h4>
                <p class="text-muted" id="status">{{product.paymentTerms.toLowerCase() === 'free'? 'Free' : 'Premium'}} {{product.trialPeriod > 0 ? ' - '+product.trialPeriod+' Days Trial' : ''}}</p>
                <a id="addProductButton" class="btn btn-block btn-sm btn-primary" ng-click="select(product)">{{'editor-app.storeProduct.add' | translate}} <i class="fa fa-plus icon-right"></i></a>
                <a class="btn btn-block btn-sm btn-default" ng-href="{{storeUrl}}/product/{{product.productId}}/" target="_blank">{{'editor-app.storeProduct.details' | translate}}</a>
              </div>
            </div><!--content-box-->
          </div>
        </div><!--productListTable-->


      </div>
    </div>

  </div>
</div>
