<div id="workspaceToolbar" class="workspace-toolbar">
  <div class="row sm-gutter">
    <div class="col-sm-12 col-md-7">
      <div ng-init="designMode = true" class="btn-group btn-inverse pull-right">
        <button id="designButton" ui-sref="apps.editor.workspace.artboard" class="btn btn-inverse" ng-class="{'active' : designMode}" ng-disabled="designMode" ng-click="designMode = true"  >{{'editor-app.workspace.toolbar.mode.design' | translate}}</button>
        <button id="htmlButton" ui-sref="apps.editor.workspace.htmleditor" class="btn btn-inverse" ng-class="{'active' : !designMode}" ng-disabled="!designMode" ng-click="designMode = false" >{{'editor-app.workspace.toolbar.mode.html' | translate}}</button>
      </div><!--btn-group-->
      <button id="compressArtboardButton" class="btn btn-inverse animated pulse ng-hide" ng-click="fullArtboard = false" ng-show="designMode && fullArtboard && !placeholderFactory.placeholder"><i class="fa fa-compress"></i></button>
      <button id="expandArtboardButton" class="btn btn-inverse" ng-show="designMode && (!fullArtboard || placeholderFactory.placeholder)" ng-click="fullArtboard = true; placeholderFactory.clearPlaceholder()"><i class="fa fa-expand"></i></button>
      <button id="presentationPropertiesButton" class="btn btn-default add-right" ng-show="designMode" ng-click="openProperties()"><i class="fa fa-cog"></i></button>
      <h2 id="presentationName" class="presentation-name">{{factory.presentation.name}}</h2>
    </div><!--col-sm-4-->
    
    <div class="col-sm-12 col-md-5 text-right">
      <div class="main-actions">
        <button id="addPlaceholderButton" class="btn btn-primary" ng-show="designMode" ng-click="addNewPlaceholder()">{{'editor-app.workspace.toolbar.addPlaceholder' | translate}}<i class="fa fa-plus icon-right"></i></button>
        <a class="btn btn-default" id="previewButton" target="_blank" ng-href="{{previewUrl}}" ng-disabled="!previewUrl" ng-click="presentationTracker('Preview Presentation', factory.presentation.id, factory.presentation.name)">{{'editor-app.workspace.toolbar.preview' | translate}} <i class="fa fa-play icon-right"></i></a>
      </div>
    </div><!--col-sm-4-->
  </div>
</div><!--presentation-toolbar-->

      
