<div class="modal-header">
	<button class="close"><i class="fa fa-times"></i></button>
	<h3 class="modal-title">Image Settings</h3>
</div>
<div class="modal-body">
	<h4>How do you want to show your image(s)?</h4>
	<button class="btn btn-default">Single Image</button>
	<button class="btn btn-default">Folder of Image(s)</button>
	<button class="btn btn-default">Custom URL</button>

	<div class="checkbox">
    <label>
      <input type="checkbox" checked="checked"> Scale to Fit
    </label>
  </div>

  <div class="row">
  	<div class="col-sm-4">
  		  <div class="form-group">
  		  	<label class="control-label">Alignment</label>
  		  	<select class="form-control">
  		  	<option></option>
  				</select>
  			</div><!--form-group-->
  	</div>
  </div>

  <hr>

  <h4 class="add-bottom">Caption Settings</h4>

  <div class="checkbox">
    <label>
      <input type="checkbox" checked="checked"> Show Image Captions
    </label>
  </div>

  <div class="row">
  	<div class="col-sm-6">
  		  <div class="form-group">
  		  	<label class="control-label">Caption Placement</label>
  		  	<select class="form-control">
  		  	<option></option>
  				</select>
  			</div><!--form-group-->

  			<div class="form-group">
  		  	<label class="control-label">Caption Font</label>
  		  	<select class="form-control">
  		  	<option></option>
  				</select>
  			</div><!--form-group-->

  			
  	</div><!--col-->
  	<div class="col-sm-6">

  			<div class="form-group">
  		  	<label class="control-label">Caption Background</label>
  		  	<div class="input-group">
  		  		<input type="text" class="form-control">
  		  		<span class="input-group-addon color-wheel"></span>
  		  	</div>
  			</div><!--form-group-->

  			<div class="form-group">
  		  	<label class="control-label">Caption Text Color</label>
  		  	<div class="input-group">
  		  		<input type="text" class="form-control">
  		  		<span class="input-group-addon color-wheel"></span>
  		  	</div>
  			</div><!--form-group-->

  			
  	</div><!--col-->
  </div>

  <button class="btn btn-default">Edit Captions in Storage<i class="fa fa-external-link icon-right"></i></button>

  

	



</div><!--modal-body-->

<div class="modal-footer">
	<button class="btn btn-default">Cancel <i class="fa fa-times icon-right"></i></button>
	<button class="btn btn-primary">Save <i class="fa fa-check icon-right"></i></button>
</div>