<div class="modal-header">
	<button class="close"><i class="fa fa-times"></i></button>
	<h3 class="modal-title">Time and Date Settings</h3>
</div>
<div class="modal-body">

  <div class="form-group">
    <label class="control-label">Time</label>
    <div class="row">
      <div class="col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" checked="checked"> Show Time
          </label>
        </div> 
      </div><!--col-->
      <div class="col-sm-3">
        <select class="form-control">
          <option>12-Hour</option>
        </select>
      </div><!--col-->
    </div>
  </div><!--form-group-->

  <div class="form-group">
    <label class="control-label">Date</label>
    <div class="row">
      <div class="col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" checked="checked"> Show Date
          </label>
        </div> 
      </div><!--col-->
      <div class="col-sm-3">
        <select class="form-control">
          <option>February 09, 2016</option>
        </select>
      </div><!--col-->
    </div>
  </div><!--form-group-->

  <hr>

  <label class="control-label">Show the current time and date according to:</label>

  <div class="radio"> 
    <label><input type="radio" ng-model="content" value="first" ng-value="first"> The media player's time zone.</label>
  </div>

  <div class="radio"> 
    <label><input type="radio" ng-model="content" value="other"> Specific time zone.</label>
  </div>

  <div ng-show="content == 'other'">
    <select class="form-control">
      <option value="-12">[UTC - 12] Baker Island Time</option>
      <option value="-11">[UTC - 11] Niue Time, Samoa Standard Time</option>
      <option value="-10">[UTC - 10] Hawaii-Aleutian Standard Time, Cook Island Time</option>
      <option value="-9.5">[UTC - 9:30] Marquesas Islands Time</option>
      <option value="-9">[UTC - 9] Alaska Standard Time, Gambier Island Time</option>
      <option value="-8">[UTC - 8] Pacific Standard Time</option>
      <option value="-7">[UTC - 7] Mountain Standard Time</option>
      <option value="-6">[UTC - 6] Central Standard Time</option>
      <option value="-5">[UTC - 5] Eastern Standard Time</option>
      <option value="-4.5">[UTC - 4:30] Venezuelan Standard Time</option>
      <option value="-4">[UTC - 4] Atlantic Standard Time</option>
      <option value="-3.5">[UTC - 3:30] Newfoundland Standard Time</option>
      <option value="-3">[UTC - 3] Amazon Standard Time, Central Greenland Time</option>
      <option value="-2">[UTC - 2] Fernando de Noronha Time, South Georgia &amp; the South Sandwich Islands Time</option>
      <option value="-1">[UTC - 1] Azores Standard Time, Cape Verde Time, Eastern Greenland Time</option>
      <option value="0" selected="selected">[UTC] Western European Time, Greenwich Mean Time</option>
      <option value="1">[UTC + 1] Central European Time, West African Time</option>
      <option value="2">[UTC + 2] Eastern European Time, Central African Time</option>
      <option value="3">[UTC + 3] Moscow Standard Time, Eastern African Time</option>
      <option value="3.5">[UTC + 3:30] Iran Standard Time</option>
      <option value="4">[UTC + 4] Gulf Standard Time, Samara Standard Time</option>
      <option value="4.5">[UTC + 4:30] Afghanistan Time</option>
      <option value="5">[UTC + 5] Pakistan Standard Time, Yekaterinburg Standard Time</option>
      <option value="5.5">[UTC + 5:30] Indian Standard Time, Sri Lanka Time</option>
      <option value="5.75">[UTC + 5:45] Nepal Time</option>
      <option value="6">[UTC + 6] Bangladesh Time, Bhutan Time, Novosibirsk Standard Time</option>
      <option value="6.5">[UTC + 6:30] Cocos Islands Time, Myanmar Time</option>
      <option value="7">[UTC + 7] Indochina Time, Krasnoyarsk Standard Time</option>
      <option value="8">[UTC + 8] Chinese Standard Time, Australian Western Standard Time, Irkutsk Standard Time</option>
      <option value="8.75">[UTC + 8:45] Southeastern Western Australia Standard Time</option>
      <option value="9">[UTC + 9] Japan Standard Time, Korea Standard Time, Chita Standard Time</option>
      <option value="9.5">[UTC + 9:30] Australian Central Standard Time</option>
      <option value="10">[UTC + 10] Australian Eastern Standard Time, Vladivostok Standard Time</option>
      <option value="10.5">[UTC + 10:30] Lord Howe Standard Time</option>
      <option value="11">[UTC + 11] Solomon Island Time, Magadan Standard Time</option>
      <option value="11.5">[UTC + 11:30] Norfolk Island Time</option>
      <option value="12">[UTC + 12] New Zealand Time, Fiji Time, Kamchatka Standard Time</option>
      <option value="12.75">[UTC + 12:45] Chatham Islands Time</option>
      <option value="13">[UTC + 13] Tonga Time, Phoenix Islands Time</option>
      <option value="14">[UTC + 14] Line Island Time</option>
    </select>
  </div>
  

  <hr>

  <label class="control-label">
    Font
  </label>

  <div class="half-bottom" style="background: #f0f0f0; border:1px solid #d4d4d4; line-height:32px; padding: 0 10px;">
    <span>Demo Font Settings <i class="fa fa-caret-down icon-right"></i></span>
  </div>

  <p class="add-bottom" style="padding:10px; border-radius:10px; font-size: 24px; background: #f0f0f0;">6:43 PM February 05, 2016</p>

	



</div><!--modal-body-->

<div class="modal-footer">
	<button class="btn btn-default">Cancel <i class="fa fa-times icon-right"></i></button>
	<button class="btn btn-primary">Save <i class="fa fa-check icon-right"></i></button>
</div>